.navigation {
    min-height: 150px;
    width: 100%;
    background-color: $bgcolor;
    opacity: 0.8;
    position: absolute;
    
    .navbar-nav {
        
        a {
            color: $white;
            padding: 5px 20px;
        }
    }
}

